  
<!--  
   Contents of selected menu item
  -->    
  <ion-header-bar class="bar-dark">

  <button class="button button-icon" ng-click="goBack()" >
     Back
  </button>

    <h1 class="title">Coverage Team</h1>
	<button class="button button-icon" ng-click="alertDevelopment()">
     Edit
  	</button>

    <!-- New Task button-->
    
    </ion-header-bar>

    <ion-content class="background_img">
	<form ng-submit="contactList(display)">
		<div class="list">
		<ul>
		
		<a class="item bdr" >
			<div class="rgt_arrow email_cnt">
			<h2>Stella.S.Louis</h2>
			</div>		  
		</a>
		<div class="bdr1">
		<a class="item margin-top2" >
			<div class="down_arrow email_cnt">
			<h2 class="cont_dis">Rishanth</h2>
			<h2 class="cnt_dis">Senior Marketing Executive</h2>
			<p class="cl">Manufacturing</p>
			</div>
		</a>
		
		 <a class="item item-avatar  margn0 coverageBg" >
        <div class="phone_img1" > <img src="img/phone.png" /> </div>
		 	<h2 class="clr righttxt">808 909 1010</h2>
		 </a>
		 
		  <a class="item item-avatar margn0  coverageBg" >
          <div class="mobile_img1" >   <img src="img/mobile.png" /> </div>
		 	<h2 class="clr righttxt">9020 909 2345</h2>
		 </a>
		 
		  <a class="item item-avatar margn0  clr  coverageBg">
         <div class="mail_img1"> <img src="img/mail.png"  /> </div>
		 	<h2 class="clr rtxt">rishi6@generalelectric.com,</h2>
			<h2 class="clr ">rishi6@generaleelectric.com,</h2>
		 </a>
		
		 <a class="item bdr1 bdr-tp">
			<div class="rgt_arrow email_cnt">
			<h2>Craig.G.Chappel</h2>
			</div>		  
		</a>
		</div>
	</form>
</ion-content>
 

