


<!--  
   Contents of selected menu item
-->    
<ion-header-bar class="bar-dark">

<button class="button button-icon" ng-click="goBack()">
	Back
</button>

<h1 class="title">Linked in</h1>	    <!-- New Task button-->

</ion-header-bar>

<ion-content class="background_img">
<form ng-submit="contactList(display)">
	<div class="list">
		<ul>

			<a class="item Lin-bg" >
				<div class="lft_algn flt-left margin-top25"><img src="img/person_linkedin.png" /></div>
				
				<h2 class="disp Bold padding-left3">Ronald Woodm</h2>
				<h3 class="cnt_dispBold flt-left padding-left3 width25">CEO at</h3>
				<p class="font94p blue-txt westu_txt">western union</p>
                <p class="go_txt font100 grey-txt Bold padding-left3 font74p">Gothenburg ,Sweden</p>
			</a>
			<a class="item no-item-avatar bg-grey mht_50">
				<p class="prodTxt fltLft bkgd_txt">Background</p>

			</a>

			<a class="item item-avatar" >
                         <img class=" summ_img" src="img/summarize_icon.png"></img>
				<h2 class="font14 Darkgrey-txt">Summarize</h2></a>
				<a class="item no-item-avatar"><p class="font12"> I've been the CEO in Western union for over eight years now & can't <br>seem to get enough of it 
					I spend my days working for clients & my rights working on <br>great projects.I am constantly honing my craft ,learning new methods & trends,<br>I never satisfied .
				</p>&nbsp&nbsp&nbsp&nbsp&nbsp
				<p class="font12"> I live in a city named Trollhattan,Sweden with my stunning family. <br>I have a list of great business contacts both near & far. I am always <br>seeking business
					prospects that are both exciting & challenging .If you are in need of any <br>such innovative business development lets chat we can work of it.
				</p>
				<p class="font12 margin-top20">Ronald Woodm</p> <p class="font12">me@zeki.se</p> <p class="font12">+(46)704 199 381</p>		</a>
			</div>
		</form>

	</ion-content>
