
<ion-header-bar class="bar-dark">
    
    <button class="button button-icon" ng-click="goBack()">
        <i>Cancel</i>
    </button>
    <h1 class="title">Opportunity Update</h1>
    
    <!-- New Task button-->
    <button class="button button-icon" ng-click="save()">
        <i>Save</i>
    </button>
</ion-header-bar>

<ion-content class="background_img">
    <form ng-submit="contactList(display)">	<div class="list">
        <ul>
            
            <a class="item no-item-avatar" >
                <h1 class="Middlealign wd_txt">Western Union AS90000 Deal</h1>
                <div class="wu_bg">	<div class="marginTp25 com_txt">	<p class="boldBlueTxt flt-left paddingRight50">Company</p>
                    <p class="flt-left">Western Union Inc.</p>
                </div>
                <div class="revn_txt clrbth"><p class="boldBlueTxt flt-left paddingRight50">Revenue</p>
                    <p class="flt-left bold">2,500,000.00 USD</p>
                </div>
                </div>
            </a>
            
            <a class="item no-item-avatar" >
                <div>
                    <div>			<p class="boldBlueTxt flt-left cd_txt">Close Date</p>
                        <input type="textbox" class="flt-left width61 bdr_btm" value="09/30/2014">
                            </div>		<div class="clrbth PosTp10">			<p class="boldBlueTxt flt-left ss_txt">Sales Stage</p>
                                <input type="textbox" class="flt-left bold redtxt width61 bdr_btm" value="Stage 3 30% -Proposal">	</div>				</div>
            </a>
            
            
            <a class="item no-item-avatar redBg  ht85" >
                <div class="Width100">
                    <p class="prodTxt paddingRight38 wid70 fnt95">Products</p>
                    <p class="flt-right contactsImg martp-58">
                    <img width="87" height="84" alt="Contact" src="img/contact1.png"></img>
                    </p>
                </div>
            </a>		<a class="item no-item-avatar bdisp ht85" >
                
                <div class="Arrow-lft"></div>
                <div class=" Middlealign normalblue pager">02/20</div>
                <div class="Arrow-right"></div>
                
            </a>
            <div class="slide1 slide_common martp85">
                <p class="ptype1">Product Type</p>
                <input type="text" class="dtype margin-left19 txt_bx bdrbtm-blue" value="Deposit" />
                <img src="img/drop_down_arrow.png" class="darrow_img"/>
                <p class="ptype1">Product Name</p> 
                <input type="text" class="dtype margin-left19 txt_bx bdrbtm-blue" value="FDI"/>
                <img src="img/drop_down_arrow.png" class="darrow_img" />
                
                </ul>
    </div>
    </form>
    
    
</ion-content>



