

<ion-header-bar class="bar-dark">
    
    <button class="button button-icon" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
    </button>
    
    <h1 class="title">Opportunity</h1>
    
    <!-- New Task button-->
    <button class="button button-icon" ng-click="createOpportunity()">
        <i class="icon oppurtunity_img"></i>
    </button>
</ion-header-bar>

<ion-content class="background_img">
    <form ng-submit="contactList(display)" class="bg_transp">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <img src="img/search_icon.png" class="search_icon"/>
                <input type="search" placeholder="Search" class="rounded_addtask "/>
            </label>
            <button class="button button-icon" ng-click="showOpportunityModal()">
                <i class="icon search_img"></i>
            </button>
        </div>
        <div class="list">
            <ul>
                
                <a class="item no-item-avatar" ng-click="showOppurtunityReview()">
                    <div>
                        <h2>Western Union AS90000 Deal</h2>
                        <p>Western Union Inc</p>
                        <p>2,200,000,00 USD</p>
                        <p class="flt-left paddingRight20">Close Date : 09/30/2014</p> <p class="flt-left boldBlueTxt">Sales Stage : 5</p>
                        <div class="progressBar1 clrbth"></div><p class="progTxtmargin">90%</p>	<p class="redrgt_arrow arrow_prop"></p>
                    </div>
                </a>
                
                <a class="item no-item-avatar" ng-click="showOppurtunityReview()">
                    <div>
                        <h2>Edison SD49200 Deal - Network Co.</h2>
                        <p>EdisonInc</p>
                        <p>2,300,000,00 USD</p>
                        <p class="flt-left paddingRight20">Close Date : 09/15/2014</p>
                        <p class="flt-left boldBlueTxt">Sales Stage : 4</p>
                        <div class="progressBar2 clrbth"></div><p class="progTxtmargin">50%</p>		<p class="redrgt_arrow arrow_prop"></p>				</div>
                </a>
                
                
                <a class="item no-item-avatar" ng-click="showOppurtunityReview()">
                    <div>
                        <h2>Venture Capital Inc. - PC deal</h2>
                        <p>Venture Inc</p>
                        <p>2,200,000,00 USD</p>
                        <p class="flt-left paddingRight20">Close Date : 09/30/2014</p>
                        <p class="flt-left boldBlueTxt">Sales Stage : 3</p>
                        <div class="progressBar3 clrbth"></div><p class="progTxtmargin">70%</p>			<p class="redrgt_arrow arrow_prop"></p>			</div>
                </a>
                
                
                <a class="item no-item-avatar" ng-click="showOppurtunityReview()">
                    <div>
                        <h2>Marks and Spencer.Ltd - WEP Deal</h2>
                        <p>M&S marketing</p>
                        <p>2,200,000,00 USD</p>
                        <p class="flt-left paddingRight20">Close Date : 09/30/2014</p>
                        <p class="flt-left boldBlueTxt">Sales Stage : 6</p>
                        <div class="progressBar1 clrbth"></div><p class="progTxtmargin">100%</p>		<p class="redrgt_arrow arrow_prop"></p>	
                        </div>
                        </a>
                        
                        
                        <a class="item no-item-avatar" ng-click="showOppurtunityReview()">
                        <div>
                        <h2>Reliance Ltd - TECH0098 Deal</h2>
                        <p class="redrgt_arrow arrow_prop arrow_prop1"></p>
                        </div>
                        </a>
                        </ul>
                        </div>
                        </form>
                        <!-- our list and list items -->
                        
                        </ion-content>
                        
