

<ion-header-bar class="bar-dark">

<button class="button button-icon" ng-click="goBack()">
	<span class="hdrlst">Back</span>
</button>

<h1 class="title">Social Network Feeds</h1>

<!-- New Task button-->

</ion-header-bar>

<ion-content class="background_img">
<form ng-submit="contactList(display)">
	<div class="list" id="social_feed">
		<ul>

			<a class="item item-avatar" ng-click="showUserProfile()">
				<div class="im_dp"><img src="img/twitter.png" /></div>
				<h2 class="hdr_dp">Western Union</h2>
				<p>New ways to Engage who's 
					paasionate about, and what their are and how to getting fund </p>

				</a>

				<a class="item item-avatar " ng-click="showUserPro()">
					<div class="im_dp"><img src="img/insideview.png" /></div>
					<h2 class="hdr_dp">Funds Western Union</h2>
					<p>Would it possible to meet on(date)
						at your / our office to discuss..?</p>
					</a>


					<a class="item item-avatar " ng-click="showUserProfile()">
		
							<div class="im_dp"><img src="img/linked_in.png" /></div>
							<h2 class="hdr_dp">CEO Western Union talks..</h2>
							<p>I am.. and I would be interested to meet you to 
								discuss..I would be grateful if you could be indicate a  </p>

							</a>


							<a class="item item-avatar " ng-click="showUserProfile()">
								<div class="im_dp"><img src="img/facebook.png" /></div>
								<h2 class="hdr_dp">Easy Money Transferred..</h2>
								<p>Please connfirm if this date and time is
									<br>suitable/ convenient for you.(neutral) Can you tell me know if this is Ok for </p>

								</a>

							</div>
						</form>
					
			</ion-content>

